EXPO_PUBLIC_API_URL=https://zorby-web.onrender.com
EXPO_PUBLIC_GOOGLE_EXPO_CLIENT_ID=your-google-expo-client-id
EXPO_PUBLIC_AMPLITUDE_API_KEY=your-amplitude-api-key
EXPO_PUBLIC_SENTRY_DSN=your-sentry-dsn
EXPO_PUBLIC_MERCADOPAGO_PUBLIC_KEY=your-mercadopago-public-key
